# USD Correlation Analysis

In [1]:
# Import libraries and dependencies
import numpy as np
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
import datetime


%matplotlib inline

In [2]:
#Multiple Ticker Analysis

tickers = ['UUP', 'DBO', 'DBC', 'SPY', 'GLD']

In [3]:
#Download stock data
stock_data = yf.download(tickers,start="2018-01-01")
# Use the `drop` function with the `level` parameter to drop extra columns in the multi-index DataFrame

stock_data = stock_data.drop(columns=["Close", "High", "Low", "Open", "Volume"])
stock_data.head()

[*********************100%***********************]  5 of 5 completed

            Adj Close
                  DBC        DBO         GLD         SPY        UUP
Date
2018-01-02  16.216225   9.866567  125.150002  256.217468  23.210712
2018-01-03  16.313387  10.079584  124.820000  257.838104  23.298008
2018-01-04  16.293955  10.098950  125.459999  258.924835  23.220413
2018-01-05  16.235657  10.050536  125.330002  260.650299  23.239809
2018-01-08  16.225943  10.108632  125.309998  261.126984  23.346504

In [4]:
# calculate daily returns
stock_returns = stock_data.pct_change()
stock_returns = stock_returns.dropna()
stock_returns.columns = stock_returns.columns.droplevel()
stock_returns

                 DBC       DBO       GLD       SPY       UUP
Date
2018-01-03  0.005992  0.021590 -0.002637  0.006325  0.003761
2018-01-04 -0.001191  0.001921  0.005127  0.004215 -0.003331
2018-01-05 -0.003578 -0.004794 -0.001036  0.006664  0.000835
2018-01-08 -0.000598  0.005780 -0.000160  0.001829  0.004591
2018-01-09  0.006587  0.017241 -0.004628  0.002263  0.002077
...              ...       ...       ...       ...       ...
2020-07-27  0.009302  0.009498  0.019754  0.007292 -0.007451
2020-07-28 -0.005376 -0.010753  0.008341 -0.006342  0.001580
2020-07-29  0.005405  0.010870  0.007510  0.012299 -0.004734
2020-07-30 -0.011521 -0.021505 -0.007400 -0.003568 -0.003964
2020-07-31  0.005439  0.006868  0.009088  0.007902  0.005969

[649 rows x 5 columns]

In [5]:
# Initial correlation table
correlation_table = stock_returns.corr()
correlation_table

          DBC       DBO       GLD       SPY       UUP
DBC  1.000000  0.923064  0.144457  0.530401 -0.043804
DBO  0.923064  1.000000 -0.004752  0.459487  0.022067
GLD  0.144457 -0.004752  1.000000  0.032450 -0.418053
SPY  0.530401  0.459487  0.032450  1.000000  0.090876
UUP -0.043804  0.022067 -0.418053  0.090876  1.000000

In [6]:
#calculating a rolling 30-day return
cumulative_returns_df = (stock_returns+1).rolling(30).apply(np.prod)-1
cumulative_returns_df

                 DBC       DBO       GLD       SPY       UUP
Date
2018-01-03       NaN       NaN       NaN       NaN       NaN
2018-01-04       NaN       NaN       NaN       NaN       NaN
2018-01-05       NaN       NaN       NaN       NaN       NaN
2018-01-08       NaN       NaN       NaN       NaN       NaN
2018-01-09       NaN       NaN       NaN       NaN       NaN
...              ...       ...       ...       ...       ...
2020-07-27  0.084097  0.120482  0.120588  0.067165 -0.036177
2020-07-28  0.068482  0.085546  0.131953  0.050589 -0.030593
2020-07-29  0.065466  0.072046  0.141017  0.043426 -0.038124
2020-07-30  0.058388  0.064327  0.130413  0.044040 -0.042667
2020-07-31  0.058054  0.053161  0.142936  0.051886 -0.040607

[649 rows x 5 columns]

In [7]:
# Historical Cross Asset Correlation on rolling 30 day returns
correlation_table = cumulative_returns_df.corr()
correlation_table.columns = ['Invesco DB Commodity Index Tracking Fund (DBC)', 'Invesco DB Oil Fund (DBO)', 'GOLD', 'S&P500 (SPY)', 'USD (UUP)']
correlation_table.style.set_caption("Historical Cross Asset Correlation on rolling 30 day returns")

In [8]:
# Rolling 30 day correlations over the last 15 days
correlation_table_15 = cumulative_returns_df[-15:].corr()
correlation_table_15.columns = ['Invesco DB Commodity Index Tracking Fund (DBC)', 'Invesco DB Oil Fund (DBO)', 'GOLD', 'S&P500 (SPY)', 'USD (UUP)']
correlation_table_15.style.set_caption("Rolling 30 day correlations over the last 15 days")

In [9]:
# Rolling 30 day correlations over the last 30 days
correlation_table_30 = cumulative_returns_df[-30:].corr()
correlation_table_30.columns = ['Invesco DB Commodity Index Tracking Fund (DBC)', 'Invesco DB Oil Fund (DBO)', 'GOLD', 'S&P500 (SPY)', 'USD (UUP)']
correlation_table_30.style.set_caption("Rolling 30 day correlations over the last 30 days")

In [91]:
import xlsxwriter

In [96]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('USD_correlations_rolling_30day_returns.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
correlation_table.to_excel(writer, sheet_name='Historical', float_format='%.2f')
correlation_table_15.to_excel(writer, sheet_name='last 15 days', float_format='%.2f')
correlation_table_30.to_excel(writer, sheet_name='last 30 days', float_format='%.2f')


# Close the Pandas Excel writer and output the Excel file.
writer.save()